<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831656768957-12b7nl3akf83asjev41fhm3th9hns9no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831656768957-12b7nl3akf83asjev41fhm3th9hns9no</string>
	<key>API_KEY</key>
	<string>AIzaSyA5146EzOxsWRD9gXUxNPvUntlYheR3wOY</string>
	<key>GCM_SENDER_ID</key>
	<string>831656768957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whysh.community</string>
	<key>PROJECT_ID</key>
	<string>whysh-wish</string>
	<key>STORAGE_BUCKET</key>
	<string>whysh-wish.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831656768957:ios:cf1086f6ad47be2e7c4ed4</string>
	<key>DATABASE_URL</key>
	<string>https://whysh-wish.firebaseio.com</string>
</dict>
</plist>